.tweet {
	min-height: 55px;
	position: relative;
	margin: 0;
	padding: 20px 0;
	background-color: #fff;
	border-bottom: 1px solid #ddd;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding-bottom: 5px;

	.name {
		font-weight: bold;
	}

	.avatar {
		float: left;
		margin-right: 5px;
	}

	.content {
		margin-top: 5px;
	}
}